<div class="flex col container centered">

	<div class="flex row centered wrapper input-container">
		<form class="flex col centered wrapper" action="/add" method="post">
			<label class="centered" for="reg-input">Registration Number</label>
			{{#if message.text}}
			<div class="centered {{message.type}} message">{{message.text}}</div>
			{{/if}}
			<input class="centered reg-plate reg-input" type="text" name="reg-input" id="reg-input" maxlength="10"
				autocomplete="off">
			<button type="submit" title="Add a registration number">ADD</button>
		</form>

		<div class="flex col middle wrapper help-container">
			<span class="reg-help">
				Registration Codes:<b>{{#each towns}} {{town_code}}{{/each}}</b><hr>
				Examples of Registration Numbers:<br>
				<b>CA 456 789</b>, <b>CF123456</b>, <b>CG 345</b>,<br>
				<b>CJ 789-012</b>, <b>CK 7345 6</b>, <b>CL 1-44</b>
			</span>
		</div>
	</div>

	<form class="centered wrapper" action="/clear" method="post">
		{{!-- <label for="town-filter">Filter</label> --}}
		<img class="scroll icon centered middle" src="/assets/images/scroll.png" title="Scroll Through Options">
		<select class="centered" name="town-filter" title="Scroll / Click to Change">
			<option value="AA">Show All</option>
			{{#each towns}}
			<option value="{{town_name}}">{{town_name}} - {{town_code}}</option>
			{{/each}}
		</select>
		<button type="submit" name="reset" title="Clear all registration numbers">CLEAR</button>
	</form>

	<div class="reg-display flex row wrap centered wrapper">
		{{#each regList}}
		<div class="reg-plate centered" title="{{town_name}}">{{reg_num}}</div>
		{{/each}}
		<div class="no-plates{{#if empty}} hidden{{/if}}">There are no registration numbers to display</div>
	</div>
</div>